.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#3358f4,#1d8cf8);
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    border-radius: 16px;
}
.separatorContainer {
    padding-left: 1em;
    padding-right: 1em;
}

.separator {
    color:white;
}

.title {
    padding-top: 1em;
    color: white;
    display: flex;
    justify-content: center;
}

.userLinks {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.userLink {
    color: white;
}
