.navbarOptions {
    display: flex;
    column-gap: var(--navbar-options-gap);
    padding-left: 4em;
}

.primaryColor {
    background-color: var(--primary-color);
}

.userContent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(calc(100vh - var(--user-profile-options-height)), auto);
}
.verticalMenu {
    padding: 1em;
}

.userProfile {
    height: var(--user-profile-options-height);
    grid-column: 1;
}

.userView {
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius-user-view);
    height: 100%;
    width: 100%;
}

.userViewContainer {
    padding: 1em;
    grid-column: 2;
}

.mainView{
    background-color: var(--main-background-color);
}
