:root {
    --font-size-ss: .4em;
    --font-size-s: .8em;
    --font-size-m: 16px;
    --font-size-l: 1.2em;
    --font-size-xl: 1.8em;
    --font-size-xll: 2em;
    --primary-color: #40bfff;
    --secondary-color: #0e38a1;
    --icon-column-gap: 4px;
    --navbar-options-gap: 18px;
    --top-bottom-padding-navbar: 1em;
    --user-profile-options-height: 3em;
    --border-radius-vertical-navbar: 16px;
    --border-radius-user-view: 16px;
}
